h1 {
  font-family: 'Krypton', monospace;
  font-size: 200%;
  font-variation-settings: 'wght' 800,'wdth' 100,'slnt' 0;
  color: $green;
}
h2 {
  text-align: center;
  font-size: 150%;
  font-family: 'Argon', monospace;
  font-variation-settings: 'wght' 800,'wdth' 100,'slnt' 0;
}
h3{
  text-align: left;
  font-size: 125%;
  font-family: 'Argon', monospace;
  font-variation-settings: 'wght' 500,'wdth' 100,'slnt' 0;
}
p{
  text-align: left;
  font-family: 'Neon', monospace;
  font-variation-settings: 'wght' 300,'wdth' 100,'slnt' 0;
}
a{
  font-family: 'Xenon', monospace;
  color: $orange;
}

//Main Body Style
body {
  // font-family: 'IBM Plex Mono', monospace;
  font-size: 100%;
  background-color: $black;
  color: $white;
  background-image: url('/assets/images/c3-pattern-trans.svg');
  background-size: 25%;

}


// Navigation Style
nav {

  font-variation-settings: 'wght' 200;
  font-size: 150%;
  text-align: center;
  // border: $white 3px solid;
  // width: fit-content;
  // margin: 0 auto;
  padding: 6px;
  // background-color: $white-trans;

  //current page navigation
  .current {
    border: $green 3px dashed;    
    padding: 6px;
    color: $green;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Krypton', monospace;
    font-variation-settings: 'wght' 800;
    background-color: $white-trans;

  }
  //not current page navigation
  .n-current {
    border: $white 3px solid;
    padding: 6px;
    font-family: 'Krypton', monospace;
    font-variation-settings: 'wght' 800;
    color: $white;
    background-color: $white-trans;
    text-decoration: none;
    &:hover{
      color:$green;
      border: $green 3px dashed;   
    }
  }
  // make the navigation style change to green when hovering
}

// footer styles
footer {
  text-align: center;
  padding: 6px 0;

  svg {
    color: $white;
    border: $white 3px solid;
    background-color: $white-trans;
    padding: 10px;
    &:hover{
      color:$green;

      border: $green 3px dashed;    
    }
  }

}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: $white 3px solid;
  background-color: $white-trans;
  padding: 6px;
}

// custom class styles
.main {
  max-width: 650;
}

.content {
  max-width: 888px;
  margin: 10px auto;
  padding: .5rem 1.25rem;
  box-sizing: border-box;
  text-align: center;
  background-color: $white-trans;
  border: $white 3px solid;
  a{
    &:hover{
      color:$purple;
  }
}
}