$background: #282a36;
$currentline: #44475a;
$selection: #44475a;
$white: #f8f8f2;
$comment: #6272a4 ;
$cyan: #8be9fd 	;
$green: #50fa7b;
$orange: #ffb86c;
$orange_dark: #cf9557; 
$pink: #ff79c6;
$purple: #bd93f9;
$red: #ff5555;
$yellow: #f1fa8c;

$canton_blue: #004B8D;
$canton_green: #00A160;
$canton_brown: #CFAB7A;
$canton_silver: #CFD4D8;

// Navigation Style
nav{
  font-family: 'IBM Plex Mono', monospace;
  font-size:large;
  text-decoration: none;
  text-align: center;
  border: $white 2px solid;
  width: fit-content;
  margin: 0 auto;
  padding: 6px;
}

nav .current{
  font-size: larger;
  color: $green;
  font-weight: bold;
  text-decoration: none;

}

nav .n-current{
  color: $white;
  font-style: italic;
  text-decoration: none;
}

nav a:hover {
  color: $green;
}


//Main Body Style
body{
  font-family: 'IBM Plex Mono', monospace;
  background-color: #282a36;
  color:#f8f8f2;
  background-image: url('/assets/images/ccubedlogoDark.png');
}
a{
  color: $orange;
  font-weight: 600;
}
a:hover{
  color: $orange_dark;
}


h1{
  color:#50fa7b;

  font-weight:700;
}
h2{
  font-weight: 300;
}

footer{
  text-align: center;
  padding: 6px 0;
}
footer svg{
  color:#50fa7b;
}

.main{
  max-width: 650;
}

.content{
  max-width: 888px;
  margin: 10px auto;
  padding: .5rem 1.25rem;
  box-sizing: border-box;
  text-align: center;
  // background-color: #282a36;
  // opacity: 99%;
}

/* Set a specific color for each brand */


// .drac{


// }
